section {
    padding: 110px 0;

    .cont {
        margin-top: 70px;
        position: relative;

        .ani_box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
        }
    }
}


h2 {
    font-family: $font-family-point;
}

@if $enable-grid-classes {
    .row {
        @include make-row();


        >* {
            @include make-col-ready();

            &_fix {
                @include make-col-ready();
            }
        }
    }
}

.ani_parent {
    position: relative;
}

.ani_ico {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;

}

.motion_box {
    position: relative; 
}

.motion_img {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


.d-inlineblock {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;

}

.d-inlineflex {
    display: inline-flex !important;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.btn_wrap {
    @include flexVal();
    position: relative;
    margin-top: 2rem;

    a,
    button {
        @extend %button;

    }

    .white {
        color: $point2;
        background-color: $white;
    }
}

.medium {
    font-weight: $fw-medium !important;
}

.color_point {
    color: $point !important;
}


.ttl_box {
    text-align: center;

    .box_num {
        @extend %ttl-box-num;
        @include flexVal(flex, center, center, nowrap);
        font-weight: $fw-bold;
        color: #fff;
        width: 44px;
        height: 44px;
        background-color: $point;
        margin: 0 auto 10px;
        border-radius: 6px;
    }

    .top_txt {
        @extend %ttl-top;
        font-weight: $fw-semibold;
        color: $point;
        display: block;
        margin: 0 auto 25px;
    }

    h2 {
        @extend %ttl;
        line-height: 1.3225;

        span {
            font-weight: 400;
            color: #454545;
        }
    }

    p {
        color: #757575;
        line-height: 1.5;
        margin-top: 30px;
        @extend %ttl-bot;

        b {
            font-weight: 500;
            color: #454545;
        }
    }

}

.ttl_box.white {
    h2 {
        color: #fff;

        span {
            color: #fff;
        }
    }

    .top_txt {
        color: #b6c9ff;
    }

    p {
        color: #d1c6ff;

        &.sky {
            color: #c6ceff;

        }

        b {
            color: #fff
        }
    }
}


.text_box {
    h4 {
        @extend %cont-ttl;
        margin-bottom: .4em
    }

    p {
        color: #757575;
        line-height: 1.4
    }
}


// main start
.main {
    @include bgCustom('../img/main_bg.jpg', no-repeat, center bottom);
    // height: 1034px;
    padding: 7.7083vw 0 28.4375vw;

    .inner {
        position: relative;
        max-width: 1050px;

        .ttl_box {

            .bg_text {
                font-family: $point-font;
                display: inline-block;
                padding: 0 1.3em;
                border-radius: 1.13636em;
                @extend %bg-text;
                color: $sky;
                background-color: $boxInBg;
                height: 2.5rem;
                line-height: 2.5rem;
                margin-bottom: 0.9em
            }

            h2 {
                @extend %ttl-big;
                opacity: 0;
                transform: translateY(50px);
                line-height: 1.2285;
                transition: all .8s ease .3s;

                img{
                    margin: 0 auto
                }
            }

            p {
                @extend %ttl-big-bot;
                color: #fff;
                opacity: 0;
                transform: translateY(50px);
                font-weight: $fw-medium;
                transition: opacity, transform .8s ease .6s;
                margin-top: .5rem;
            }

        }

        .main_visual {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

        }
    }

}

.main.on {
    .inner {
        .ttl_box {
            h2 {
                opacity: 1;
                transform: translateY(0);
            }

            p {
                opacity: 1;
                transform: translateY(0);
            }

        }

    }

}





// accumulated_money start
.accumulated_money {

    .cont {
        .info {
            @include flexVal(flex, start, stretch);
            box-shadow: 0 7px 40px rgba($color: #000000, $alpha: 0.13);
            border-radius: $border-radius1-pc;
            background-color: #cdbbee;


            figure {
                background-color: #cdbbee;
                width:49.8541vw;
                max-width: 650px;
                height: 100%;
                flex-shrink: 0;
                border-radius: $border-radius1-pc 0 0 $border-radius1-pc;

                .ico_01 {
                    width: 16.153%;
                    top: -8.3076%;
                    left: 3.846%;
                }

                .ico_02 {
                    width: 13.23%;
                    top: 27.23%;
                    left: 7.23%;

                }

                .ico_03 {
                    left: auto;
                    width: 15.538%;
                    right: 2.307%;
                    top: 8.615%;
                }

                .card {
                    width: 41.0769%;
                    left: 41.538%;
                    top: 19.384%;
                }

                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    margin-top: -4.615%;
                    border-radius: $border-radius1-pc 0 0 $border-radius1-pc;
                }
            }

            figcaption {
                display: flex;
                align-items: center;
                padding:0 3.6458vw;
                background-color: #fff;
                border-radius: 0 $border-radius1-pc $border-radius1-pc 0;

                .ttl_box {
                    .top_txt {
                        color: $point5;
                    }

                    h2 {
                        @extend %ttl-small;
                        font-family: $basic-font;
                    }

                    p {
                        margin-top: 30px
                    }
                }
            }



        }

        .btn_wrap {
            margin-top: 40px
        }

    }
}

// sect02  start
.sect02 {
    background-color: #f3f6fb;

    .inner {
        max-width: 1300px;
        padding-left: 10px;
        .ttl_box{

            p{
                padding-right: 35%;
            }
        }
        .btn_wrap {
            margin-top: 50px;
        }

    }


}

// sect03 start
.sect03 {
    @include bgCustom('../img/sect03_bg.jpg');

    .cont {
        text-align: center;

        img{
            margin: 0 auto;
        }

        .btn_wrap{
            position: relative;
            z-index: 50;
        }

    }


}

// sect04 start
.sect04 {
    background-color: #f7f8f9;

    .cont {
        .visual {
            @include flexVal(flex, space-between, stretch);

            >div {
                position: relative;
                width: 44.8%;


                .box+.box {
                    margin-left: 20px;
                }

                .ani_ico {
                    @include flexVal(flex, center, center);
                    width: 44px;
                    height: 44px;
                    border: 1px solid #79a4f2;
                    background-color: #f1f4fa;
                    color: #0050cd;
                    font-size: 28px;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    margin-left: -22px;
                    margin-top: -22px;
                    line-height: 1;

                }
            }

            .box {
                border-radius: 20px;
                background-color: #fff;
                box-shadow: 0 9px 25px rgba($color: #9f9f9f, $alpha:0.17);
                padding: 6.296% 3.703% 7.407%;
                text-align: center;
                width: 50%;

                figure {
                    margin: 0 auto;
                }

                figcaption {
                    margin-top: 30px;
                }

                
            }
            .big {
                padding: 2% 5.2%;
                width: 44.8%;

            }

            .or {
                @include flexVal(flex, center, center);
                letter-spacing: 0;
                width: 4.1666vw;
                margin: 0 1.302vw;
                flex-shrink: 0;
                font-size: 1.4rem;
                height: 4.1666vw;
                font-family: $point-font;
                color: $white;
                border-radius: 50%;
                align-self: center;
                background: rgb(150, 118, 255);
                background: linear-gradient(145deg, rgba(150, 118, 255, 1) 0%, rgba(85, 47, 249, 1) 100%);
            }
        }

        .big_btn_wrap {
            position: relative;
            max-width: 572px;
            margin-top: 70px;

            .big_btn {
                @extend %button2;

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    transform: translateY(10px);
                    background-color: $point3;
                }
            }

            .ico_01 {
                left: 10px;
                top: -10px;
            }

            .ico_02 {
                left: auto;
                right: -8px;
                top: 50%;
            }

            .ico_03 {
                left: auto;
                right: 20px;
                top: -10px;
            }
        }
    }
}

.provide_money {
    .text_box {
        margin-top: 40px;
    }
}

.sect06 {
    @include bgCustom('../img/sect06_bg.jpg');
    height: 590px;


    .cont {
        width: 70vw;
        max-width: 645px;

        .motion_box {
            top: 30px;

            .img01 {
                left: auto;
                right: 42.3255%;
                width: 50.697%;
            }
            
            .img02 {
                left: auto;
                right: 0;
                width: 50.697%;
            }

            .img03 {
                position: relative;
                display: block;
            }
        }
    }
}

.sect07 {
    .cont {
        li {

            figure {
                border-radius: 20px;
                background-color: var(--bs-box-bg-color1);
                text-align: center;
            }

            &:nth-of-type(2) {
                figure {
                    background-color: var(--bs-box-bg-color2);

                }
            }

            &:nth-of-type(3) {
                figure {
                    background-color: var(--bs-box-bg-color3);

                }
            }

            &:nth-of-type(4) {
                figure {
                    background-color: var(--bs-box-bg-color4);

                }
            }

            figcaption {
                margin-top: 30px;


                .list_num {
                    padding-left: 2em;
                    position: relative;

                    .num {
                        display: inline-block;
                        width: 34px;
                        height: 34px;
                        font-size: 18px;
                        text-align: center;
                        color: #fff;
                        border-radius: 50%;
                        line-height: 34px;
                        background-color: #252525;
                        font-family: $font-family-nanum;

                        position: absolute;
                        top: 2px;
                        left: 0;
                    }

                }

                p {
                    padding-right: 3%;
                }


            }
        }
    }
}

@include tablet {


    section {
        padding: 100px 0;

        .cont {
            margin-top: 60px;
        }
    }

}



@include mobile {

    section {
        padding: 4rem 0;

        .cont {
            margin-top: 2.3333rem;
        }
    }

    .ttl_box {

        .top_txt {
            margin-bottom:.9rem;
        }


        p {
            margin-top:.9rem;
        }

    }

    // main start
    .main {
        background-image: url(../img/main_bg_mo.jpg);
        padding: 7rem 0 23.666rem;

        .inner {
            position: static;

            .ttl_box {
                h2 {
                    padding: 0 0.33rem;
                }

                .bg_text {
                    padding: 0 0.9375em;
                    border-radius: 1.13636em;
                    height: 2.2333rem;
                    line-height: 2.2333rem;
                    margin-bottom: 1.625em
                }
            }
        }

    }

    // accumulated_money start
    .accumulated_money {

        .cont {
            .info {
                display: block;
                box-shadow: 0 0.233rem 1.333rem rgba($color: #000000, $alpha: 0.13);
                border-radius: $border-radius1-mo;


                figure {
                    width: 100%;
                    height: 17.4333rem;
                    border-radius: $border-radius1-mo $border-radius1-mo 0 0;

                    .ico_01 {
                        top: -1.8rem;
                        width: 5.5rem;
                        left: -0.4666rem;
                    }

                    .ico_02 {
                        top: 6.333rem;
                        left: 0.266rem;
                        width: 5rem;

                    }

                    .ico_03 {
                        right: 0.7333rem;
                        top: 1.866rem;
                        width: 4.8rem;
                    }

                    .card {
                        left: 8.333rem;
                        top: 6.066rem;
                        width: 9.9333rem
                    }

                    >img {
                        width: 100%;
                        margin-top: 0;
                        border-radius: inherit;
                    }
                }

                figcaption {
                    display: block;
                    padding: 2.333rem 1.666rem;
                    border-radius: 0 0 $border-radius1-mo $border-radius1-mo;

                    .ttl_box {
                        h2 {
                            font-size: 1.2rem;
                        }

                        p {
                            margin-top: .9rem
                        }
                    }
                }



            }

            .btn_wrap {
                margin-top: 2rem
            }

        }
    }

    // sect02  start
    .sect02 {
        

        .inner {
            padding-left: 0;
            .ttl_box{
                text-align: center !important;

                p{
                    padding-right: 0;
                }
            }

            .btn_wrap {
                margin-top: 2rem;
                justify-content: center;
            }

        }


    }

    // sect03 start
    .sect03 {
        background-image: url('../img/sect03_bg_mo.jpg');

        .cont{
            padding: 0 1.6666rem;
            margin-top: 1.3rem;

            .btn_wrap{
                margin-top: 1rem;
            }
        }
    }

    // sect04 start
    .sect04 {

        .cont {
            .visual {
                display: block;

                >div {
                    width: 100%;


                    .box+.box {
                        margin-left: 0.6666rem;
                    }

                    .ani_ico {
                        width: 2rem;
                        height: 2rem;
                        border-width: 0.0666rem;
                        font-size: 1.2666rem;
                        margin-left: -1rem;
                        margin-top: -1rem;
                        align-items: flex-start;
                        padding-top: 0.25rem;
                    }
                }

                .box {
                    border-radius: $border-radius1-mo;
                    box-shadow: 0 0.3rem 0.833rem rgba($color: #9f9f9f, $alpha:0.17);
                    padding: 1.6666rem;

                    figcaption {
                        margin-top: 1rem;
                    }
                }

                .big {
                    padding: 1.666rem 2rem;
                    width: 100%;
                }

                .or {
                    width: 3.333rem;
                    height: 3.333rem;
                    font-size: 1.2666rem;
                    margin: 1rem auto;
                }
            }

            .big_btn_wrap {
                max-width: 100%;
                margin-top: 2.666rem;

                .ico_01 {
                    left: 0.5rem;
                    top: -0;
                    width: 4rem;
                }

                .ico_02 {
                    left: auto;
                    right: -0.5333rem;
                    top: 50%;
                    width: 4.8rem;
                }

                .ico_03 {
                    left: auto;
                    right: 1.333rem;
                    top: -0.6666rem;
                    width: 1.5rem;
                }
            }
        }
    }

    .provide_money {
        .text_box {
            margin-top: 1.333rem;
        }


        figure {
            width: 10rem;
            margin: 0 auto;
        }
    }

    .sect06 {
        background-image: url('../img/sect06_bg_mo.jpg');
        height: 49.233rem;
        .ttl_box{
            text-align: center !important;
        }

        .cont {
            width: 100%;
            max-width: 100%;

            .motion_box {
                top: 0;

                .img01 {
                    width: 15.133rem;
                    right: 50%;
                    margin-right: -7.5665rem;
                    z-index: 5;
                }
                
                .img02 {
                    width: 15.133rem;
                    right: 50%;
                    top: 11.6666rem;
                    margin-right: -7.5665rem;
                }

                .img03 {
                    position: relative;
                    z-index: 10;
                }
            }
        }
    }

    .sect07 {
        .cont {
            li {

                figure {
                    border-radius: $border-radius1-mo;
                }


                figcaption {
                    margin-top: 1.2rem;

                    h4 {
                        margin-bottom: .8rem;
                    }

                    .list_num {
                        padding-left: 2em;

                        .num {
                            width: 1.666rem;
                            height: 1.666rem;
                            font-size: 0.9333rem;
                            line-height: 1rem;
                            padding-top: 0.4rem;
                            top: 1px;
                        }

                    }


                }
            }
        }
    }




}