#wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.only {
    &_web {
        display: block !important;

    }

    &_mo {
        display: none !important;

    }
}

[class^="inner"] {
    max-width: 1250px;
    position: relative;
    margin: 0 auto;
    width: -webkit-calc(100% - 2.14285rem);
    width: -moz-calc(100% - 2.14285rem);
    width: calc(100% - 2.14285rem);


}

.inner_1305 {
    max-width: 1305px;
}
.inner_1200 {
    max-width: 1200px;
}

// common 



small {
    &.web {
        display: inline-block !important;
    }

    &.mo {
        display: none !important;
    }

}

