
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/NotoSansKR-Black.otf) format('otf');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/NotoSansKR-Bold.otf) format('otf');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NotoSansKR-Medium.otf) format('otf');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSansKR-Regular.otf) format('otf');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/NotoSansKR-Light.otf) format('otf');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/NotoSansKR-Thin.otf) format('otf');
}


/* G마켓산스 */

@font-face {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/GmarketSansLight.woff) format('woff');
}

@font-face {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/GmarketSansMedium.woff) format('woff');
}

@font-face {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/GmarketSansBold.woff) format('woff');
}

/* 나눔스퀘어 */

@font-face {
    font-family: 'NanumSquare';
    font-style: lighter;
    font-weight: 300;
    src: url(../fonts/NanumSquareL.ttf) format('ttf');
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NanumSquareR.ttf) format('ttf');
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NanumSquareB.ttf) format('ttf');
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/NanumSquareEB.ttf) format('ttf');
}
@font-face {
    font-family: 'Jalnan';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Jalnan.ttf) format('ttf');
    src: url(../fonts/JalnanOTF.otf) format('otf');
}



@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

